html, body
  margin 0
  padding 0
  width 100%
  height 100%

body
  font-family h
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  background transparent
  font-size 16px
  line-height 1.625
  margin 0
  overflow hidden

a
  color #369
  text-decoration none

  &:hover
    color #f40
